
.dashboard_container {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 2000px;
    background-color: var(--gray-203);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &*{
        box-sizing: border-box;
    }
    
    & div {
        // max-width: 1400px;
    }

    .dashboard_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        max-width: 1900px;
        height: 100%;
        padding-right: 20px;
        border-radius: 10px;
    }
}


.dashboard_content_modal {
    background-color: var(--gray-100)
}